.card-image-rectangle {
  width: 40%;
  position: absolute;
  top: -50px;
  left: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.card {
  overflow: visible !important;
  margin-bottom: 70px;
  & .title-card {
    padding-left: 0.5rem;
  }
}
.card-title {
  display: block;
}
a.box {
  cursor: move;
}
a.box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
