<div class="row">
  <div class="col s12">
    <div
      class="collection"
      cdkDropList
      #todoList="cdkDropList"
      id="list-1"
      [cdkDropListData]="listItems"
      [cdkDropListConnectedTo]="['doneList']"
      (cdkDropListDropped)="drop($event)"
    >
      <a
        id="router-cmp"
        *ngFor="let item of listItems"
        cdkDrag
        (click)="openDialog(item.id)"
        class="collection-item"
      >
        <img [src]="item.asset" style="max-width:50px;" />
      </a>
    </div>
  </div>
</div>
