<form [formGroup]="formRed" class="row" (submit)="createRed()">
  <div class="modal-content">
    <h4 class="center-align">Crea una nueva red</h4>
    <mat-form-field class="col s12">
      <input matInput placeholder="Titulo" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="col s12">
      <textarea
        matInput
        placeholder="Descripcion"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-small teal"
      [disabled]="!formRed.valid"
    >
      Crear
    </button>
  </div>
</form>
