<div class="row">
  <div class="col s12">
    <a
      class="waves-effect waves-light btn modal-trigger"
      (click)="openModalCreate()"
      >Modal</a
    >
  </div>
  <div class="col s12 m4" *ngFor="let red of listRed$ | async">
    <div class="card">
      <div class="card-title center-align">{{ red.name }}</div>
      <div class="card-stacked">
        <div class="card-content">
          {{ red.description }}
        </div>
      </div>
      <div class="card-action">
        <a
          class=" btn-small margin-1 waves-effect waves-light blue"
          (click)="redirect(red.id)"
          ><i class="material-icons">arrow_forward</i></a
        >
        <a
          class="btn-small margin-1 waves-effect waves-light blue"
          (click)="editRed(red.id)"
          ><i class="material-icons">edit</i></a
        >
      </div>
    </div>
  </div>
</div>
