<h2 mat-dialog-title>Registro de Dispositivos</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col s12 m2">
      Lista de componentes
      <div class="collection">
        <a
          id="router-cmp"
          (click)="switchPage('Router')"
          class="collection-item"
        >
          <img src="assets/dispositivos/router.svg" style="max-width:50px;" />
        </a>
        <a
          id="switch-cmp"
          (click)="switchPage('Switch')"
          class="collection-item"
        >
          <img src="assets/dispositivos/switch.png" style="max-width:50px;" />
        </a>
        <a id="switch-cmp" (click)="switchPage('Pc')" class="collection-item">
          <img src="assets/dispositivos/pc.png" style="max-width:50px;" />
        </a>
      </div>
    </div>
    <div class="col s12 m10">
      <div [@vanish]="page">
        <h1 class="mat-title">{{ currentPage?.title }}</h1>
        <p class="mat-small">{{ currentPage?.message }}</p>
      </div>
      <form
        [formGroup]="formAddDispositive"
        class="row"
        (submit)="addDispositive()"
      >
        <input formControlName="type" type="hidden" />

        <mat-form-field
          class="col s12 m6"
          @inflate
          appearance="legacy"
          *ngIf="formAddDispositive.contains('name')"
        >
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <div formGroupName="maestroDispositive">
          <mat-form-field
            class="col s12 m6"
            @inflate
            appearance="legacy"
            *ngIf="formAddDispositive.get('maestroDispositive.ip')"
          >
            <mat-label>IP</mat-label>
            <input matInput formControlName="ip" />
          </mat-form-field>
          <mat-form-field
            class="col s12 m6"
            @inflate
            appearance="legacy"
            *ngIf="formAddDispositive.get('maestroDispositive.paridad')"
          >
            <mat-label>Paridad</mat-label>
            <input matInput formControlName="paridad" />
          </mat-form-field>
          <mat-form-field
            class="col s12 m6"
            @inflate
            appearance="legacy"
            *ngIf="formAddDispositive.get('maestroDispositive.puerto')"
          >
            <mat-label>Puerto</mat-label>
            <input matInput formControlName="puerto" />
          </mat-form-field>
          <mat-form-field
            class="col s12 m6"
            @inflate
            appearance="legacy"
            *ngIf="formAddDispositive.get('maestroDispositive.bits')"
          >
            <mat-label>Bits</mat-label>
            <input matInput formControlName="bits" />
          </mat-form-field>
        </div>

        <button
          class="btn btn-small right"
          type="submit"
          [disabled]="!formAddDispositive.valid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
  {{ formAddDispositive.value | json }}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-small red">Cancel</button>
</mat-dialog-actions>
